<!-- Suche -->
<f:cObject typoscriptObjectPath="lib.search"/>
<!--<div class="searchform text-sm-right">
	<form class="form-inline">
		<input type="search" class="form-control" placeholder="Suche">
		<button type="submit" class="btn btn-primary">Suche</button>
	</form>
</div>
-->