<div class="pageheader container" xmlns:f="http://www.w3.org/1999/html">
	<div class="row">
		<div class="col-sm-4">
			<f:render partial="LanguageMenu"/>
		</div>
		<div class="col-sm-8">
			<f:render partial="SearchForm"/>
		</div>
	</div>
</div>
<div class="mainnav">
	<nav class="main-nav container" role="navigation">

		<!-- Mobile menu toggle button (hamburger/x icon) -->
		<input id="main-menu-state" type="checkbox"/>
		<label class="main-menu-btn" for="main-menu-state">
			<span class="main-menu-btn-icon"></span> Toggle main menu visibility
		</label>

		<f:render partial="MainNavigation" arguments="{_all}"/>
	</nav>
</div><!-- Ende mainnav -->


<!-- Hier die Inhalte -->
<f:switch expression="{backendlayout}">
	<f:case value="pagets__jumbotron">
		<f:render section="Jumbotron"/>
		<f:render section="Multicolumn"/>
	</f:case>
	<f:case value="pagets__2spalten"><f:render section="2Spalten"/></f:case>
	<f:case value="pagets__1spalte"><f:render section="1Spalte"/></f:case>
	<f:case default="TRUE"><f:render section="2Spalten"/></f:case>
</f:switch>

<f:comment>
	<f:if condition="{backendlayout}=='jumbotron'">
		<f:render section="Jumbotron"/>
		<f:render section="Multicolumn"/>
	</f:if>

	<f:if condition="{backendlayout}=='2spalten'">
		<f:render section="2Spalten"/>
	</f:if>

	<f:if condition="{backendlayout}=='1spalte'">
		<f:render section="1Spalte"/>
	</f:if>
</f:comment>



<!-- Beginn Footer Bereich -->
<hr>

<f:render partial="Footer"/>
</div> <!-- Ende Content Container -->