<div class="card mb-3">
  <f:if condition="{data.image}">
    <f:for each="{data.image}" as="file">
      <f:image class="card-img-top" image="{file}" alt="{file.alternative}" title="{file.title}" width="600"/>
    </f:for>
  </f:if>
  <div class="card-block">
    <f:if condition="{data.header}">
      <h4 class="card-title">{data.header}</h4>
    </f:if>
    <div class="card-text">
      <f:if condition="{data.bodytext}">
        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
      </f:if>
    </div>
    <f:if condition="{data.tx_mask_links}">
      <p class="card-text">
        <f:for each="{data.tx_mask_links}" as="data_item">
          <small class="text-muted">
            <f:if condition="{data_item.tx_mask_linkziel}">
              <f:link.typolink parameter="{data_item.tx_mask_linkziel}">{data_item.tx_mask_linktext}
              </f:link.typolink>
            </f:if>
          </small>
          <br>
        </f:for>
      </p>
    </f:if>
  </div>
</div>
